* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	width: 100%;
	white-space: nowrap;
	/* 强制不换行 */
	overflow: hidden;
	/* 隐藏 */
	text-overflow: ellipsis;
}

.hidNav {
	width: 100%;
	height: 45px;
	background-color: #313131;
	position: fixed;
	top: 0;
	z-index: 200;


}

.hidNav .logo {
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	cursor: pointer;
}

.hidNav #hid1 {
	width: 60%;
	height: 100%;
	list-style: none;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

.hidNav #hid1 li {
	height: 100%;
	float: left;
	text-align: center;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
}

.hidNav #hid1 li a {
	font-size: 13px;
	font-weight: 400px;
	padding: 0 10px 10px;
	color: #fff;

}

.hidNav #hid1 li.li1 {
	width: 28px;
	height: 22px;
	text-align: left;
	color: #fff;
	/* border-bottom: 1px solid #fff; */

}

.hidNav #hid1 li.li1 a {
	padding: 0 0 10px;

}

.hidNav #hid1 li .isShow {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 40px;
	left: 0;
	background-color: #313131;
	opacity: 0.8;
	display: none;
	line-height: 35px;
}

.hidNav #hid1 .isShow ul {
	list-style: none;
	margin: 8px auto;
	display: flex;
	justify-content: center;
}

.hidNav #hid1 .isShow ul li {
	float: left;
	text-align: center;
	cursor: pointer;
}

.hidNav #hid1 .isShow ul li a {
	font-size: 12px;
	font-weight: 400px;
	padding: 0 15px 10px;
	font-weight: 700;
	color: #A0A0A0;
}

.hidNav #hid1 .isShow ul li:hover a {
	color: #fff;
}


.hidNav #hid2 {
	width: 28%;
	height: 40px;
	list-style: none;
	float: right;
	margin-top: 10px;
	margin-right: 0px;
}

.hidNav #hid2 span {
	color: #FFFFFF;
	display: block;
	float: left;
	margin-top: 2px;
}

.hidNav #hid2 li {
	float: left;
	color: #fff;
	text-align: center;
}

.hidNav #hid2 li a {
	font-size: 12px;
	font-weight: 400px;
	padding: 0 10px 10px;
	color: #fff;
}

.hidNav #hid2 .li4 {
	position: relative;
	/* right: 20px; */
	margin-left: 20px;
}

.hidNav #hid2 .li4 img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.hidNav #hid2 .li4:hover .img2 {
	display: block;
}

.hidNav #hid2 .li4 .img2 {
	display: none;
}

/* ********************************页面主体************************* */
.nav {
	width: 100%;
	margin-top: 45px;
	height: 55px;
	background-color: #F6F6F6;
		border-bottom: 1px solid #D2D2D2;
		position: relative;
		z-index: 10;
}

.nav ul {
	width: 60%;
	height: 55px;
	list-style: none;
	margin-left: 120px;
	/* border: 1px solid #000000; */
}

.nav ul li {
	float: left;
	cursor: pointer;
	font-size: 14px;
	line-height: 35px;
	margin-right: 30px;
	padding: 10px 0;

}
.nav ul li.li6{
		border-bottom: 2px solid #000000;
}
.container{
	width: 83%;
	margin: 0 auto;
	border-top: 1px solid #fff;
}
.container .pers{
	width: 90%;
	height: 100%;
	padding: 20px 20px 50px 20px;
	margin: 30px auto ;
	height: 120px;
/* 	border: 1px solid #000000; */
border-bottom: 1px solid #707070;
}
.pers .tx {
	width: 48%;
	height: 100%;
	float: left;
}
.pers .tx .tx1{
	width: 100px;
	height: 100px;
	background-image: url(../img/personal/tx.jpg);
	background-size: 100% 100%;
	border-radius: 50%;
	float: left;
}
.pers .tx .tx2{
	margin-top:30px;
	float: left;
	margin-left: 20px;
	font-size: 18px;
	font-weight: 500;
}
.tx .tx2 p{
	margin: 0 0 5px 0;
}
.tx .tx2 img{
	width: 35px;
	height: 18px;
	vertical-align: middle;
}
.tx .tx2 span{
	font-size: 13px;
	color: #707070;
}
.pers .phone {
	width: 49%;
	height: 100%;
	border-left: 1px solid #A0A0A0;
	float: right;
	cursor: pointer;
}
.phone p{
	width: 50%;
	font-size: 20px;
	margin-left: 40px;
	color: #313131;
}
.phone .icon{
	width: 100%;
	height:36px ;
	margin: 50px 0 0 40px;
}
.phone .icon div{
	width: 36px;
	height: 36px;
	font-size: 30px;
	background-color: #A0A0A0;
	color: #fff;
	float: left;
	margin: 0 35px 0 0 ;
	text-align: center;
	line-height: 36px;
}
.phone .icon div:hover{
	background-color: #32b16c;
}


.container .card{
	width: 93%;
	height: 185px;
/* 	border: 1px solid #000000; */
	margin: 10px auto 0;
}
.card p{
	font-size: 25px;
	margin: 42px 0 20px 0;
	letter-spacing: 3px;
	
}
.card div{
	width: 150px;
	height: 38px;
	border: 2px solid #313131;
	border-radius: 20px;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
}
.addr{
	width: 100%;
	height: 450px;
	background-image: url(../img/personal/add.jpg);
	background-size: 100% 120%;
	background-position: 0 -20px;
	border-top: 1px solid #fff;
}
.addr h4{
	width: 80%;
	font-size: 28px;
	margin: 100px auto 40px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 5px;
	
}
.addr .perAddr{
	width: auto;
	color: #fff;
	margin:10px 0 10px 140px;
	font-size: 15px;
	cursor: pointer;
}
.perAddr .iconfont{
	font-size: 20px;
}
.addr .perAddr:hover{
	font-weight: 600;
}

.addr button{
	width: 200px;
	height: 44px;
	font-size: 15px;
	color: #fff;
	text-align: center;
	background-color: #5BB688;
	border: 0;
	outline: none;
	margin: 20px 0 0 130px;
	border-radius:22px ;
}
.addr button:hover{
	background-color: #4D936D;
}
.addrPop{
	height: 100%;
	width: 100%;
	background-color:rgba(0,0,0,0.5);
	/* opacity: 0.5; */
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	display: none;

}
.addrPop .fillAddr{
	width: 800px;
	height: 400px;
	background-color: #fff;
	top: 10%;
	left: 20%;
	position: absolute;
	z-index: 301;
	padding: 20px 35px 40px;
	
}
.fillAddr h4{
	width: 100%;
	color: #313131;
	padding: 20px 0 0;
	letter-spacing: 2px;
}
.fillAddr p{
	font-size: 14px;
	color: #A0A0A0;
	padding: 10px 0 0;
	
}
.fillAddr .sel{
	width: 100%;
	height: 50px;
	margin-top: 20px;
}
.sel select{
	width:25%;
	height: 40px;
	outline: none;
	border: 1px solid #D2D2D2;
	margin-right: 10px;
	color: #313131;
}
.fillAddr #inp1{
	width: 79%;
	height: 40px;
	outline: none;
	border: 1px solid #D2D2D2;
	font-size: 15px;
	color: #313131;
	margin-top: 10px;
}
.fillAddr .tit{
	margin-top: 30px;
}
.fillAddr .person{
	width: 79%;

}
.person input{
	width:31% ;
	height:40px;
		margin:20px 10px 0 0;
	outline: none;
	border: 1px solid #D2D2D2;
}
.fillAddr .sub{
	width: 33%;
	height: 42px;
	background-color: #313131;
	text-align: center;
	line-height: 40px;
	margin-top: 30px;
	color: #fff;
	cursor: pointer;
}
.fillAddr .close{
	width: 20px;
	height: 20px;
	/* background-image: url./url(../img/personal/close.png); */
	position:absolute;
	top:5px;
	right: 10px;
	color: #000000;
	font-size: 25px;
	cursor: pointer;
}




















/* *********************************页面底部********************************** */
.footer {
	width: 100%;
	height: 550px;
	background-color: #1B1B1B;

}

.foot {
	width: 90%;
	height: 500px;
	/* border: 1px solid #fff; */
	overflow: hidden;
	margin: 0 auto;
}

/* ********************************上半部分左边********************** */
.foot .lf {
	width: 20%;
	height: 200px;
	/* background-color: #E56A69; */
	border-right: 1px solid #D2D2D2;
	float: left;
	margin-top: 90px;
}

.foot .lf a {
	width: 90%;
	height: 70px;
	color: #fff;
	font-size: 16px;
}

.foot .lf a img {
	width: 210px;
	height: 20px;
	margin-left: 5px;
}

.foot .lf a span {
	display: block;
	line-height: 50px;
}

.footer .lf .fIcon {
	width: 95%;
	height: 70px;
}

.footer .lf .fIcon div {
	width: 40px;
	height: 40px;
	/* background-color: #00FFFF; */
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	margin-top: 20px;
}

.footer .lf .fIcon .icon1 {
	background-image: url(../img/index/chat.png);
	background-position: -71px;
}

.footer .lf .fIcon .icon2 {
	margin-left: 15px;
	background-image: url(../img/index/chat.png);
	background-position: -107px;

}

.footer .lf .fIcon .icon1:hover {
	background-color: white;
	background-position: 73px 0;
}

.footer .lf .fIcon .icon2:hover {
	background-color: white;
	background-position: 36px 0;
}


/* *********************************上半部分中间************************** */
.foot .mf {
	width: 50%;
	height: 240px;
	/* background-color: #FFEDED; */
	float: left;
	margin-top: 90px;
}

.foot .mf ul {
	height: 220px;
	list-style: none;
}

.foot .mf ul li {
	float: left;
	margin: 0 40px;
	color: #A0A0A0;
	font-size: 13px;
}

.foot .mf ul li P {
	height: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #A0A0A0;
}

.foot .mf ul li.li1 P {
	width: 85px;
}

.foot .mf ul li.li2 P {
	width: 56px;
}

.foot .mf ul li.li3 P {
	width: 56px;
}

.foot .mf ul li a {
	display: block;
	color: #D2D2D2;
	font-size: 12px;
	padding: 10px 10px;

}

/* ***********************************上半部分右边****************************** */
.foot .rf {
	width: 29%;
	height: 200px;
	/* background-color: aquamarine; */
	border-left: 1px solid #D2D2D2;
	float: right;
	margin-top: 90px;
	color: #fff;
	cursor: pointer;
}

.foot .rf .p1 {
	height: 20px;
	margin-left: 50px;
	color: #A0A0A0;
	font-size: 13px;
	margin-bottom: 10px;
}

.foot .rf .p2 {
	margin-bottom: 15px;
	margin-left: 50px;
	font-size: 22px;
}

.foot .rf .p2 span {
	font-size: 14px;
}

.foot .rf .div1 {
	margin-left: 50px;
	width: 82px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 25px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}

.foot .rf .div2 {
	margin-left: 50px;
	margin-top: 50px;
	width: 75%;
	height: 40px;
	font-size: 13px;
	color: #313131;
	background-color: #fff;
	border: 1px solid #fff;
	text-align: center;
	line-height: 42px;
}

.foot .rf .div1:hover {
	color: #313131;
	background-color: #fff;
}

.foot .rf .div2:hover {
	color: #fff;
	background-color: #313131;
}

/* **************************************下半部分***************************** */
.foot .ff {
	width: 98%;
	height: 200px;
	float: left;
	margin-top: 30px;
	padding: 25px 0;
	border-top: 1px solid #D2D2D2;
	font-size: 12px;
	color: #A0A0A0;
}

.foot .ff p {
	margin: 8px auto;
	text-align: center;
}

.foot .ff p a {
	color: #A0A0A0;
}

/* *************************侧栏*************************** */
#sidebar {
	width: 70px;
	/* height: 274px; */
	background-color: #fff;
	position: fixed;
	top: 190px;
	right: 0;
	z-index: 500;
}

#sidebar .side1 {
	height: 73px;
	overflow: hidden;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
}

#sidebar .side1 .s2 {
	width: 40px;
	height: 75px;
	border-bottom: 1px solid #A0A0A0;
	margin: 0 auto;
}

#sidebar .side1 .s2 a {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/index/side2.png);
	background-position: 825px -15px;
	margin-top: 5px;
}

#sidebar .side1 .s2 p {
	text-align: center;
	font-size: 15px;
	color: #707070;
	margin-top: 5px;
	letter-spacing: 0;
}

#sidebar .side1 .s2:hover a {
	background-position: 1105px -15px;
}

#sidebar .side1 #s3 {
	height: 70px;
	display: none;
}

#sidebar .side1 #s3 div {
	display: block;
	width: 30px;
	height: 40px;
	background: url(../img/index/side2.png);
	background-position: 750px -10px;
	margin-top: 5px;
	margin-left: 20px;
}

#sidebar .side1 #s3 p {
	text-align: center;
	font-size: 13px;
	color: #707070;
	margin-top: 5px;
	letter-spacing: 0;
}

#sidebar .side1 #s3:hover div {
	background-position: 1030px -10px;
}
