* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}

a {
	text-decoration: none;
	width: 100%;
	white-space: nowrap;
	/* 强制不换行 */
	overflow: hidden;
	/* 隐藏 */
	text-overflow: ellipsis;
}

.hidNav {
	width: 100%;
	height: 45px;
	background-color: #313131;
	position: fixed;
	top: 0;
	z-index: 200;


}

.hidNav .logo {
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	margin-top: 10px;
	margin-left: 50px;
	cursor: pointer;
}

.hidNav #hid1 {
	width: 60%;
	height: 100%;
	list-style: none;
	float: left;
	margin-top: 15px;
	margin-left: 20px;
}

.hidNav #hid1 li {
	height: 100%;
	float: left;
	text-align: center;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
}

.hidNav #hid1 li a {
	font-size: 13px;
	font-weight: 400px;
	padding: 0 10px 10px;
	color: #fff;

}

.hidNav #hid1 li.li1 {
	width: 28px;
	height: 22px;
	text-align: left;
	color: #fff;
	/* border-bottom: 1px solid #fff; */

}

.hidNav #hid1 li.li1 a {
	padding: 0 0 10px;

}

.hidNav #hid1 li .isShow {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 40px;
	left: 0;
	background-color: #313131;
	opacity: 0.8;
	display: none;
	line-height: 35px;
}

.hidNav #hid1 .isShow ul {
	list-style: none;
	margin: 8px auto;
	display: flex;
	justify-content: center;
}

.hidNav #hid1 .isShow ul li {
	float: left;
	text-align: center;
	cursor: pointer;
}

.hidNav #hid1 .isShow ul li a {
	font-size: 12px;
	font-weight: 400px;
	padding: 0 15px 10px;
	font-weight: 700;
	color: #A0A0A0;
}

.hidNav #hid1 .isShow ul li:hover a {
	color: #fff;
}


.hidNav #hid2 {
	width: 28%;
	height: 40px;
	list-style: none;
	float: right;
	margin-top: 10px;
	margin-right: 0px;
}

.hidNav #hid2 span {
	color: #FFFFFF;
	display: block;
	float: left;
	margin-top: 2px;
}

.hidNav #hid2 li {
	float: left;
	color: #fff;
	text-align: center;
}

.hidNav #hid2 li a {
	font-size: 12px;
	font-weight: 400px;
	padding: 0 10px 10px;
	color: #fff;
}

.hidNav #hid2 .li4 {
	position: relative;
	/* right: 20px; */
	margin-left: 20px;
}

.hidNav #hid2 .li4 img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}

.hidNav #hid2 .li4:hover .img2 {
	display: block;
}

.hidNav #hid2 .li4 .img2 {
	display: none;
}

/* ********************************页面主体************************* */
.store1{
	width: 100%;
	height: 380px;
	background-image: url(../img/store/store1.jpg);
	background-size: 100% 100%;
	margin-top: 40px;
	border-top: 1px solid #fff;
}
.store1 p{
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-top: 150px;
	font-weight: 700;
}
.main{
	width: 85%;
	height: 900px;
	margin:30px auto 0;
}
.main .storePer{
	width: 48%;
	height: 360px;
	float: left;
	margin: 30px 10px 10px 10px;

}
.main .storePer img{
	width: 100%;
	height: 280px;
}
.storePer h3{
	width: 80%;
	margin-left: 10px;
	padding: 10px 0 0 ;
	font-size: 16px;
	font-weight: 600;
		letter-spacing: 2px;
}
.storePer p{
	padding: 10px;
	font-size: 13px;
	color: #A0A0A0;
		letter-spacing: 2px;
}

/* *********************************页面底部********************************** */
.footer {
	width: 100%;
	height: 550px;
	background-color: #1B1B1B;

}

.foot {
	width: 90%;
	height: 500px;
	/* border: 1px solid #fff; */
	overflow: hidden;
	margin: 0 auto;
}

/* ********************************上半部分左边********************** */
.foot .lf {
	width: 20%;
	height: 200px;
	/* background-color: #E56A69; */
	border-right: 1px solid #D2D2D2;
	float: left;
	margin-top: 90px;
}

.foot .lf a {
	width: 90%;
	height: 70px;
	color: #fff;
	font-size: 16px;
}

.foot .lf a img {
	width: 210px;
	height: 20px;
	margin-left: 5px;
}

.foot .lf a span {
	display: block;
	line-height: 50px;
}

.footer .lf .fIcon {
	width: 95%;
	height: 70px;
}

.footer .lf .fIcon div {
	width: 40px;
	height: 40px;
	/* background-color: #00FFFF; */
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	margin-top: 20px;
}

.footer .lf .fIcon .icon1 {
	background-image: url(../img/index/chat.png);
	background-position: -71px;
}

.footer .lf .fIcon .icon2 {
	margin-left: 15px;
	background-image: url(../img/index/chat.png);
	background-position: -107px;

}

.footer .lf .fIcon .icon1:hover {
	background-color: white;
	background-position: 73px 0;
}

.footer .lf .fIcon .icon2:hover {
	background-color: white;
	background-position: 36px 0;
}


/* *********************************上半部分中间************************** */
.foot .mf {
	width: 50%;
	height: 240px;
	/* background-color: #FFEDED; */
	float: left;
	margin-top: 90px;
}

.foot .mf ul {
	height: 220px;
	list-style: none;
}

.foot .mf ul li {
	float: left;
	margin: 0 40px;
	color: #A0A0A0;
	font-size: 13px;
}

.foot .mf ul li P {
	height: 30px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #A0A0A0;
}

.foot .mf ul li.li1 P {
	width: 85px;
}

.foot .mf ul li.li2 P {
	width: 56px;
}

.foot .mf ul li.li3 P {
	width: 56px;
}

.foot .mf ul li a {
	display: block;
	color: #D2D2D2;
	font-size: 12px;
	padding: 10px 10px;

}

/* ***********************************上半部分右边****************************** */
.foot .rf {
	width: 29%;
	height: 200px;
	/* background-color: aquamarine; */
	border-left: 1px solid #D2D2D2;
	float: right;
	margin-top: 90px;
	color: #fff;
	cursor: pointer;
}

.foot .rf .p1 {
	height: 20px;
	margin-left: 50px;
	color: #A0A0A0;
	font-size: 13px;
	margin-bottom: 10px;
}

.foot .rf .p2 {
	margin-bottom: 15px;
	margin-left: 50px;
	font-size: 22px;
}

.foot .rf .p2 span {
	font-size: 14px;
}

.foot .rf .div1 {
	margin-left: 50px;
	width: 82px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 25px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}

.foot .rf .div2 {
	margin-left: 50px;
	margin-top: 50px;
	width: 75%;
	height: 40px;
	font-size: 13px;
	color: #313131;
	background-color: #fff;
	border: 1px solid #fff;
	text-align: center;
	line-height: 42px;
}

.foot .rf .div1:hover {
	color: #313131;
	background-color: #fff;
}

.foot .rf .div2:hover {
	color: #fff;
	background-color: #313131;
}

/* **************************************下半部分***************************** */
.foot .ff {
	width: 98%;
	height: 200px;
	float: left;
	margin-top: 30px;
	padding: 25px 0;
	border-top: 1px solid #D2D2D2;
	font-size: 12px;
	color: #A0A0A0;
}

.foot .ff p {
	margin: 8px auto;
	text-align: center;
}

.foot .ff p a {
	color: #A0A0A0;
}

/* *************************侧栏*************************** */
#sidebar {
	width: 70px;
	/* height: 274px; */
	background-color: #fff;
	position: fixed;
	top: 190px;
	right: 0;
}

#sidebar .side1 {
	height: 73px;
	overflow: hidden;
	border-top: 1px solid #A0A0A0;
	border-left: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
}

#sidebar .side1 .s2 {
	width: 40px;
	height: 75px;
	border-bottom: 1px solid #A0A0A0;
	margin: 0 auto;
}

#sidebar .side1 .s2 a {
	display: block;
	width: 40px;
	height: 40px;
	background: url(../img/index/side2.png);
	background-position: 825px -15px;
	margin-top: 5px;
}

#sidebar .side1 .s2 p {
	text-align: center;
	font-size: 15px;
	color: #707070;
	margin-top: 5px;
	letter-spacing: 0;
}

#sidebar .side1 .s2:hover a {
	background-position: 1105px -15px;
}

#sidebar .side1 #s3 {
	height: 70px;
	display: none;
}

#sidebar .side1 #s3 div {
	display: block;
	width: 30px;
	height: 40px;
	background: url(../img/index/side2.png);
	background-position: 750px -10px;
	margin-top: 5px;
	margin-left: 20px;
}

#sidebar .side1 #s3 p {
	text-align: center;
	font-size: 13px;
	color: #707070;
	margin-top: 5px;
	letter-spacing: 0;
}

#sidebar .side1 #s3:hover div {
	background-position: 1030px -10px;
}
